body {background:white;
		margin:0px;
		font-family: arial;
}
.header{
	text-align: center;
	background-color: lightgray;
	padding-bottom: 10px;
}
h1{
	margin-top: 0px;
	padding-top: 20px;
}
.sum{
	margin-left: 10%;
	margin-right: 10%;
}
#sump{
	font-weight: 10%;
}
.acc{
	margin-left: 10%;
	margin-right: 10%;
}
.lh{
	margin-left: 10%;
	margin-right: 10%;
}